body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

/* HEADER */

header img{
    width: 86px;
}

header ul{
    color:white;
    float: right;
}

.bg-green{
    background-color: #28A745;
}

/* CARDS */

.imgs-size{
    width: 100%;
    height: 11.25rem;
}

.card-size{
    width: 278px;
}

.titles{
    color:#212529;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.texts{
    color: #707070;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.spacing{
    padding-right: 2px;
}

.address{
    color: #707070;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.prices{
    text-align: right;
 
}

.price-normal{
    color: #707070;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: inline;
}

.price-green{
    color:#28A745;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: inline;
}

/* FORM */

.form{
    background-color: #28A745;
    width: 100%;
}

form h6{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
}

.text-input{
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 16px;
    font-weight: 300;
}

.btn-send{
    text-align: center;
}

/* FOOTER */

.logo-black img{
    width: 82px;
    height: 24px;
}

footer p{
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 16px;
    font-weight: 300;
}

hr{
    margin: 0 auto;
}






      
